// div {
//     width: 100px;
//     float: left;
// }

// #one {
//     background-color: red;
// }

// #two {
//     background-color: purple;
// }

@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu:400,700&display=swap');

html, 
body {
    height: 100%;
}

body {
    display:grid;
    margin: 0 auto;
    padding: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}
img {
    margin: 1.66%;
    width: 30%;
    float: left;
}

figure {
    grid-row: 1;
    grid-column: 1 / -1;
}

h2 {
    font-family: 'Raleway', sans-serif;
    margin-left: 1.66%;
    font-size: 2em;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    padding-bottom: 20px;
}

footer {
    background: #f1f1f1;
    text-align: center;
    padding: 15px;
    grid-row: -1;
    grid-column: 1 / -1;
}